* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
    align-items: center;
    background-color:#D8D1E7;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(255, 255, 255); */
    background-color:#D8D1E7;
    position: absolute;
  }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    background-image: linear-gradient(-135deg, #B18BD5, #CDBBF5,#914AD6);
    /* background-color: antiquewhite; */
    width: 350px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.container h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    color: #ffffff;/*white to black*/
    margin-bottom: 20px;
    /* text-shadow: 2px 2px 4px #9526F1; */
    text-shadow: 2px 2px 4px #2a292c;
}

.subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    padding: 20px;
    z-index: 2;
}

.subjects ul {
    list-style: none;
}

.subjects ul li {
    margin-bottom: 20px;
    text-align: center;
}

.subjects ul li a {
    text-decoration: none;
    display: block;
    /* background-color: #9526F1; */
    background-color:#A268D9;
    /* background-color: rgb(65, 0, 80); */
    color: #fefefe;
    padding: 15px 25px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3) ;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 14px;
}


.subjects ul li a:hover {
    background-color:#faf6f6;
    color: #2a292c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* footer section  */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 20px;
    color: #dbc99c;
    text-align: center;
    background: #a268d9b2;
}

.footer-section {
    line-height: 2.0;
    padding: 3px;
}

.footer-section h4 {
    font-size: 16px;
    color: #fff;
}

.footer-section a {
    padding: 8px;
    color: #fff;
}

.footer-section h4:hover {
    color: #2a292c;
}

.footer-section a:hover {
    color: #2a292c;
}

.contact-me a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-me a:hover {
    color: #2a292c;
}